<div>
  <div>
    <h1>
      List of all questions
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <form action="/zebra" method="post" class="form-horizontal" enctype="multipart/form-data">
     
      <div>
        <label for="patient_age_box">
          Patient age
        </label>
      <input type="text" id="patient_age_box" name="query_patient_age">
      </div>

        <div>
        <label for="question_box">
          Question
        </label>
        <textarea id="question_box" name="query_question" rows="3"></textarea>
      </div>
      
      <div>
        <label for="medical_history_box">
          Medical history
        </label>
        <textarea id="medical_history_box" name="query_medical_history" rows="3"></textarea>
      </div>

      <div>
        <label for="image">
          Image
        </label>
        <input type="file" id="image" name="query_image" class="form-control">
      </div>

      <input type="hidden" id="some" name="query_question_id" input="<%= %>">


      <button>
        Upload
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>

      <th>
          Image
        </th>

       <th>
       Relevant Infomration
        </th>
 
        <th>
       Most Frequent Answers 
        </th>      
        
        <th>
       Latest User Comment
        </th>  
        
        </tr>


      <% @questions.each do |a_question| %>
      <tr>
  
        <td>
        <% a_question.photos.each do|a_photo|%>
      <img src="<%= a_photo.image %>" class="img-responsive" style="height: 300px; width: auto">
        <% end %>
        </td>
        
        <td>

        <div>
          Age:  <%= a_question.patient_age %>
        </div>
          </br>

          <div>
          User Query:  <%= a_question.question %>
          </div>

          </br>

          <div>
          Brief Medical History:  <%= a_question.medical_history %>
          </div>

        </td>

        <td>
          
        </td>

        <td>
        <div>
         <% a_question.photos.each do|an_photo| %>
          <a href="/photos/<%= an_photo.id %>">
          <% end %>
          More Comments and Details 
          </a>
       </div>
       </td>

        

      </tr>
      <% end %>
    </table>
    <%= will_paginate @questions %>
  </div>
</div>

<hr>
