<div>
  <div>
    <h1>
      List of all questions
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <form action="/zebra" method="post" class="form-horizontal" enctype="multipart/form-data">
     
      <div>
        <label for="patient_age_box">
          Patient age
        </label>
      <input type="text" id="patient_age_box" name="query_patient_age">
      </div>

        <div>
        <label for="question_box">
          Question
        </label>
        <textarea id="question_box" name="query_question" rows="3"></textarea>
      </div>
      
      <div>
        <label for="medical_history_box">
          Medical history
        </label>
        <textarea id="medical_history_box" name="query_medical_history" rows="3"></textarea>
      </div>

      <div>
        <label for="image">
          Image
        </label>
        <input type="file" id="image" name="query_image" class="form-control">
      </div>

      <button>
        Upload
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>

      <th>
          Image
        </th>

       <th>
        Patient Age
        </th>

        

        <th>
          Question
        </th>
      
        <th>
        Medical History 
        </th>
         
      </tr>


      <% @questions.each do |a_question| %>
      <tr>
  
        <td>
        <% a_question.photos.each do|a_photo|%>
      <img src="<%= a_photo.image %>" class="img-responsive" style="height: 500px; width: auto">
        <% end %>
        </td>
        
        <td>
          <%= a_question.patient_age %>
        </td>

        <td>
          <%= a_question.question %>
        </td>

        
        <td>
          <%= a_question.medical_history %>
        </td>

        <td>
          <a href="/questions/<%= a_question.id %>">
          Show details
          </a>
        </td>

      </tr>
      <% end %>
    </table>
    <%= will_paginate @questions %>
  </div>
</div>

<hr>
