<style>
.tdiv table {
  width:600px;
}
.tdiv table th {
  padding: 10px;
  background-color: #e3edeb;
}
.tdiv table td {
  background-color: #f5fafa;
  padding: 20px;
}
.tdiv table tr {
  border-bottom: 1px solid #bddbdb;
}
.tdiv table td.pid {
  background-color: #e3edeb;
}
</style>
<center>
<h3>Your posts</h3>
<br>
<center>
<div class="tdiv">
  <table>
  <tr>
  <th>Image</th>
  <th>Details</th>  
  </tr>
  <% @matching_questions.each do |a_question| %>
  <tr>
  <td>
  <% a_question.photos.each do|a_photo|%>
  <img src="<%= a_photo.image %>" class="img-responsive" style="width: 400px; height: auto">
  <% end %>
  </td>
  <td>
  <ul>
  <li>Age: <%= a_question.patient_age %></li>
  <li>Question: <%= a_question.question %></li>
  <li>Medical history: <%= a_question.medical_history %></li>
  <li>Popular Answers:</li>      
  <li>Latest Comment:</li>
  <% a_question.photos.each do|an_photo| %>
  <li><a href="/photos/<%= an_photo.id %>">More Comments and Details</a></li>
  <% end %>
  </ul>
  </td>
  </tr>
  <% end %>
</table>
<br>
</div>
</center>
