<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post" class="form-horizontal" enctype="multipart/form-data" >
      <div>
        <label for="image">
          Image
        </label>

        <input type="file" id="image" name="query_image" class="form-control>
      </div>

      <div>
        <label for="video_box">
          Video
        </label>

        <input type="text" id="video_box" name="query_video">
      </div>

      <div>
        <label for="question_id_box">
          Question
        </label>

        <input type="text" id="question_id_box" name="query_question_id">
      </div>

      <button>
        Create photo
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Image
        </th>

        <th>
          Video
        </th>

        <th>
          Question
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <%= a_photo.id %>
        </td>

        <td>
          <%= a_photo.image %>
        </td>

        <td>
          <%= a_photo.video %>
        </td>

        <td>
          <%= a_photo.question_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
