<div>
  <div>
    <h1>
      List of Photo's for this Question
    </h1>

    <div>
      <div>
        <a href="/">
          Go back
        </a>
      </div>

      
    </div>
</br>
<div>
  <div>
  OTHER RELATED IMAGES

    <table border="1">
      
      <tr>
      
       <th>
        Photo ID No.
        </th>

        <th>
        Images
        </th>

        <th>
        Edit Photo
        </th>

      </tr>

       <% @photo_related_to_question.each do|a_photo|%>
        <tr>

         <td>
        <%= a_photo.id %>
         </td>

        <td>
         <img src="<%= a_photo.image %>" class="img-responsive" style="height: 500px; width: auto">
        </td>

        <td>
        <a href="/delete_photo/<%= a_photo.id %>">Delete photo</a>
        
        <form action="/modify_photo/<%= a_photo.id %>"  method="post" class="form-horizontal" enctype="multipart/form-data">
      </br>
        <label for="image_box">
          Update Photo
        </label>
        <input type="file" id="image_box" name="query_image" value="<%= @the_photo.image %>" class="form-control">
        <button>Update</button>
      </td>

      </tr>

    <% end %>

  </table>

  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit photo
    </h2>

    <form action="/modify_photo/<%= @the_photo.id %>"  method="post" class="form-horizontal" enctype="multipart/form-data">
      <div>
        <label for="image_box">
          Image
        </label>
        <input type="file" id="image_box" name="query_image" value="<%= @the_photo.image %>" class="form-control">
      </div>

      <div>
        <label for="video_box">
          Video
        </label>

        <input type="text" id="video_box" name="query_video" value="<%= @the_photo.video %>">
      </div>

      <div>
        <label for="question_id_box">
          Question
        </label>

        <input type="text" id="question_id_box" name="query_question_id" value="<%= @the_photo.question_id %>">
      </div>

      <button>
        Update photo
      </button>
    </form>
  </div>
</div>

<hr>
