<style>
.tdiv table th {
  padding: 10px;
  background-color: #e3edeb;
}
.tdiv table td {
  background-color: #f5fafa;
  padding: 20px;
}
.tdiv table tr {
  border-bottom: 1px solid #bddbdb;
}
.tdiv table td.pid {
  background-color: #e3edeb;
}
</style>

<h3>Related photos for this question</h3>
<a href="/">Go back</a>
<br>
<br>
<center>
<div class="tdiv">
<table>
<tr>
<th>Image</th>
<th>Edit Photo</th>
</tr>
<% @photo_related_to_question.each do|a_photo|%>
<tr>
<td>
<a href="<%= a_photo.image %>" target="_blank">
<img src="<%= a_photo.image %>" class="img-responsive" style="width: 450px; height: auto">
</a>
<br>
(Click photo to enlarge)
</td>
<td>
<form action="/modify_photo/<%= a_photo.id %>" method="post" class="form-horizontal" enctype="multipart/form-data">
<label for="image_box">Change this photo:</label>
<br>
<input type="file" id="image_box" name="query_image" value="<%= @the_photo.image %>" class="form-control">
<br>
<button class="btn btn-secondary">Update</button>
</form>
<ul>
<br>
<li>
<a href="/photos/<%= a_photo.id %>">Add more photos for this question</a>
</li>
<li>
<a href="/delete_photo/<%= a_photo.id %>">Delete photo</a>
</li>
</ul>
</td>
</tr>
<% end %>
</table>
</div>
</center>
